<%= form_with(model: commentable, local: true) do |f| %>  
  <%= f.text_area :content %>  
  <div class="actions">  
    <%= f.submit "コメントをする", class: 'btn btn-warning px-5' %>  
  </div>  
<% end %>
